.body{
   color:rgb(74, 72, 72);
}


.button{
    
    color: white;
    background-color: #45818E;
}
.Select{
    padding-top: 2%;
}

body{
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;

}