 ::after, ::before {
    
    box-sizing: border-box;
}

body {
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* background: #f7f7fb; */
    background-color:white;
    color:black;
    -webkit-font-smoothing: antialiased;
    padding-right: 2%;
    padding-left: 2%;
    

  }
  .payment{
    padding: 4%;
  }
.form-group {
    margin-bottom: 0;
}

.button{
    padding-top: 2%;
    color:#45818E;
}
